
# GIT - ignore

# Strict rule for c project
*
!*/

# Disable directory
build/
3rdparty/

# Allow repository files
!.gitignore
!.travis.yml
!LICENSE
!README


# Allow makefiles
!Makefile
!*.mk

# Allow source files
!*.c
!*.h
!*.asm
